{% extends "customer/base.html" %} {% block content %}
<div class="container mb-5r">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
      <p>
        Food Palace is a mock project, a portfolio project showing my skills as
        a django backend developer. The client side looks rusty as it's not my
        specialization. If you have django gigs or a junior backend developer
        role, reach out to me on davidoluwatobi41@gmail.com so I can send you my
        CV.
      </p>
      <p>
        You can also check out Techie Hub at techie-hub.herokuapp.com, a mock
        social media web app.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
